[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pycaret = "*"
jupyterlab = "*"
scikit-optimize = "*"
pandas-profiling = "*"
shap = "*"
uszipcode = "*"

[dev-packages]

[requires]
python_version = "3.8"
